.item-count {
    border: 1px solid rgb(162, 163, 165);
    border-radius: 0.375rem;
    text-align: center;
    font-family: var(--font-family-texto);
    padding: 0 20px;
    height: 40px;
}

.item-count > h2 {
    font-size: 15px;
    padding: 0 15px;
    margin: 5px 0;
}

.item-count > button {
    font-size: 1.4rem;
    border-color: transparent;
    background-color: white;
}

.eliminar > button {
    border-color: transparent;
    background-color: white;
    margin-left: 20px;
    border-bottom: 1px solid black;
    font-size: 15px;
}

.eliminar > button:hover {
    color: gray;
}

.item-count > button:hover {
    color: gray;
}

.btn-caja {
    font-size: 1rem;
    padding: 0.375rem 0.75rem;
    letter-spacing: 1.2px;
}

