* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --font-family-texto: 'Maven Pro', sans-serif;
    --font-family-marca: 'Thasadith', sans-serif;
    --color-footer: #B5D9DE;
    --color-barra-anuncios: #B5D9DE;
    --color-spinner: #d6a3ad;
}

.contenedor-nav {
    width: auto !important;
    margin-top: 0 !important;
}

.anuncios {
    background-color: var(--color-barra-anuncios);
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    letter-spacing: .2em;
    font-family: var(--font-family-texto);
    text-transform: uppercase;
    font-size: 12px;
}

.contenedor-enlaces {
    margin-bottom: 10px;
    margin-top: 20px;
    font-family: var(--font-family-texto);
    letter-spacing: .2em;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
}

.contenedor-menu {
    font-family: var(--font-family-texto);
    letter-spacing: .2em;
    text-transform: uppercase;
    font-size: 13px;
}

.marca {
    margin-top: 10px;
    font-size: 18px;
    text-align: center;
    font-family: var(--font-family-texto);
}

.linea {
    border-bottom: 0.001px solid #dddddd;
    width: 100%;
}

.carrito {
    margin-right: -530px;
}

.badge {
    margin-left: -10px;
    margin-top: 10px;
}

.btn-link {
    color: black !important;
}

.contenedor-home {
    height: 100%;
}

.dropdown-item.active,
.dropdown-item:active {
    background-color: var(--color-spinner);
}

@media (max-width: 600px) {

    .anuncios {
        background-color: var(--color-barra-anuncios);
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 700;
        letter-spacing: .2em;
        font-family: var(--font-family-texto);
        text-transform: uppercase;
        font-size: 10px;
        text-align: center;
    }

    .linea {
        display: none;
    }

    .carrito {
        margin-right: 0px;
    }

    .navbar-toggler-icon {
        width: 1em;
    }

    .navbar-toggler {
        border: none;
        color: transparent;
    }

    .marca {
        margin-top: 10px;
        font-size: 15px;
        text-align: center;
        font-family: var(--font-family-texto);
        padding-right: 20px;
        padding-left: 20px;
        margin-right: 0;
    }

    .badge {
        --bs-badge-font-size: 0.5em;
        top: 10px !important;
    }

    .contenedor-enlaces {
        margin-bottom: 0px;
        margin-top: 10px;
        font-family: var(--font-family-texto);
        letter-spacing: .2em;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 600;
        margin-left: -130px;

    }

    .contenedor-enlaces>ul>li>ul>li {
        font-size: 12px;
    }

}